<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tp01 -->
      <package
            uri="http://www.example.org/tp01"
            class="fr.ut2j.tp01.Tp01Package"
            genModel="model/tp01.genmodel"/>
   </extension>

</plugin>
